/* *{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    mix-blend-mode: difference;
} */

.logoImage {
     /* height:100px; */
     width: 13vh;
     /* animation: rotation 50s infinite linear; */
     /* position: sticky;  */

     padding: 1rem;
     position: fixed;
     float: right;
     text-align: right;
     right: 0px;
     /* max-height: 8vh; */
     /* animation: rotation 50s infinite linear; */
     -webkit-filter: invert(0%);
     filter: invert(0%);
     z-index: 3 !important;
     /* mix-blend-mode: difference; */
     cursor: pointer;
     animation: appear 1s;

     -webkit-filter: drop-shadow(2px 2px 2px #22222279);
     filter: drop-shadow(2px 2px 2px #2222226d);
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");

body {
     font-family: "Red Hat Text", sans-serif;
}

.container {
     text-align: center;
     color: var(--color);
     width: 100%;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     /* background-image: url(https://images.unsplash.com/photo-1514496959998-c01c40915c5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
     background-size: cover;
     background-position: center;
     background-attachment: fixed; */
}





a {
     display: inline-block;
     padding: 1em 3.5em;
     background-color: var(--color);
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     border-radius: 0.3em;
     font-weight: 700;
     letter-spacing: 0.5px;
     font-size: 0.875rem;
}

.second {
     background-size: cover;
     background-attachment: fixed;
     /* height: 1000px; */
}

h3 {
     font-weight: 700;
     font-size: 1.6rem;
     margin-top: 1em;
}
.container{
     overflow-x: hidden;
}

.card>a {
     margin-bottom: 2em;
}

.item {
     display: flex;
     max-width: 50vw;
     width: 100%;
     background-color: white;
     flex-direction: column;
     align-items: center;
     border-radius: 0.5em;
     -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
     -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
     box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

img{
     border-radius: 0.5em;
}

.imageTextRow{
     width:100%;
     height:100%;
     display: flex;
 
     align-items: center;
}
.projectCard {
     /* min-width: 800px !important; */
     min-width: 800px !important;
     max-width: 1200px !important;



}


.imagesContainer {
     width: 50%;
     height: 500px;
     display: flex;
     float:left;
     align-items: center;
     /* background-color: red; */
}
.widerWindow{
     left:0px;
     margin-left:0px!important;
}


.mobileProjectImage {
     width: 50%;
     transform: translate(-80%);
}

.desktopProjectImage {
     width: 90%;
}







.img-second {
     background-image: url(https://images.unsplash.com/photo-1628746404106-4d3843b231b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2F2aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60);
}

.img-third {
     background-image: url(https://images.unsplash.com/photo-1632853073412-782bf0279d65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}

.second {
     flex-direction: row;
     gap: 1.6em;
}




.classCard,.classCardGlass {
     /* background-color: rgba(238, 238, 238, 0.576); */
     /* width: 70vw; */
     /* max-width: 900px; */
     min-width: 800px;
     height:100%;
     position: relative;

     background-color: rgba(255, 255, 255, 0.95);
     
     border-radius: 15px;
     color: #333;
     font-family: sans-serif;
     line-height: 1.5;
     /* max-width: 50%; */
     padding: 2rem;

     animation: appear 1s;
}

@keyframes appear {
     0% {
          opacity: 1%;
     }

     100% {
          opacity: 100%;
     }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
     .classCard {
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
     }
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
     .classCardGlass {
          -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
     }
}

.IDEParagraph {
     /* background-color: #2c2c2c9b; */
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
}

table,
tr,
td {
     text-align: left;
}

.codeHeader {
     text-align: center;
     width: 100%;
     font-size: 2em;
     padding: 0px;
     margin: 0px;
     background-color: transparent;
     /* font-family: "ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace"; */
     font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas,
          Liberation Mono, Menlo;

     margin-bottom: 10px;
}

.skillContain {
     height: 100%;

     display: flex;
     align-items: center;
     justify-content: center;
}

.skillRow {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;

     width: 60%;
     height: 100%;
     padding: 20px;
}

.skillItem:hover,
.skillItem:active {
     transform: scale(1);
     animation: pulse 2s infinite;
}

@keyframes pulse {
     0% {
          transform: scale(0.9);
          box-shadow: 0 0 0 0 var(--lightcolor);
     }

     70% {
          transform: scale(1);
          box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
     }

     100% {
          transform: scale(0.9);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
     }
}

.skillItem {
     color: white;
     border: 3px var(--orange) solid;
     border-radius: 25%;
     width: 80px;
     margin: 20px;
     height: 80px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 5px;

     background-color: #2478bc7c;
     filter: drop-shadow(3px 3px 3px #00000090);
}


.codeMirror {
     text-align: left;
     font-size: 1.9em;
     margin: 0px;

     /* width: 100%; */
     height: 100% !important;
     background-color: transparent;
     /* font-family: "ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace"; */
     font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas,
          Liberation Mono, Menlo;

     /* background-color: white; */
     /* overflow-y: scroll; */
}

.mirrorContainer {
     /* background-color: red; */
     padding: 10px;

     /* width:100%; */
     height: 100%;
     /* margin-bottom: 10px; */

     outline: none;

     /* display: flex; 
   flex-direction: column;
  align-items: stretch;  */

     /* overflow-y: scroll; */
}

.windowDiv {
     /* background-color: rgba(255, 0, 0, 0.131); */
     width: 100%;
     padding: 12px;

     margin: 0px;
     /* margin-left: 15px; */
     position: absolute;
     left:0px;
     top: 0px;
}

.circleRed {
     background-color: rgb(255, 25, 0);
     height: 10px;
     width: 10px;
     border-radius: 10px;
     float: left;
     margin: 4px;
     filter: drop-shadow(1px 1px 2px #0000006e);
}

.circleYellow {
     background-color: rgb(242, 255, 0);
     height: 10px;
     width: 10px;
     border-radius: 10px;
     float: left;
     margin: 4px;
     filter: drop-shadow(1px 1px 2px #0000006e);
}

.circleGreen {
     background-color: rgb(0, 255, 0);
     height: 10px;
     width: 10px;
     border-radius: 10px;
     float: left;
     margin: 4px;
     filter: drop-shadow(1px 1px 2px #0000006e);
}

.headerButton {
     margin-top: 15px;
     bottom: 0px;
     font-size: 0.8em;
     text-align: center;
}

* {
     outline: none !important;
}

:root {
     --color: #2c2c2c;
     --lightcolor: #78b2e1;
     --lightDarkercolor: #2c587c;
     --colorLight: rgb(255, 255, 255);
     /* --darkcolor: rgb(174, 227, 255); */
     --darkcolor: rgb(255, 255, 255);
     --orange: #ffa500;
}

.blankLight {
     background-color: var(--colorLight);

     transition: 0.5s;
}

.blankDark {
     background-color: #2c2c2c;
     opacity: 1;
     /* background: radial-gradient(circle,
               transparent 20%,
               #2c2c2c 20%,
               #2c2c2c 80%,
               transparent 80%,
               transparent),
          radial-gradient(circle,
               transparent 20%,
               #2c2c2c 20%,
               #2c2c2c 80%,
               transparent 80%,
               transparent) 17.5px 17.5px,
          linear-gradient(#2c587c 1.4000000000000001px,
               transparent 1.4000000000000001px) 0 -0.7000000000000001px,
          linear-gradient(90deg,
               #2c587c 1.4000000000000001px,
               #2c2c2c 1.4000000000000001px) -0.7000000000000001px 0;
     background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px; */

     transition: 0.5s;
}

.lightMode {
     background-color: rgba(255, 255, 255, 0.5)!important;
     transition: 0.5s;
     /* filter: drop-shadow(8px 8px 5px #67d1ff6e); */
}

.darkMode {
     background-color: rgba(63, 116, 161, 0.616)!important;
     /* background-color: #2b2e389b; */
     transition: 0.5s;
     filter: drop-shadow(8px 8px 5px #00000039);
}

.lightModeText {
     color: var(--lightcolor);
     transition: 0.5s;
}

.darkModeText {
     color: var(--darkcolor);
     transition: 0.5s;
}

.lightModeTextButton {
     color: var(--darkcolor)!important;
     background-color: var(--lightcolor);
     transition: 0.5s;
}

.darkModeTextButton {
     color: var(--darkcolor);
     /* opacity: 0.7; */
     background-color: var(--lightDarkercolor) !important;
     transition: 0.5s;
}
@supports (-webkit-touch-callout: none) {
     .containerDark,.containerLight,.logoIMGLight,.logoIMGDark {
   
          transition: none !important;;

     }
 }
.containerLight {
     background-color: #51a7ee;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1900 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%2351A7EE'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23a8d3f7'/%3E%3Cstop offset='1' stop-color='%2351A7EE'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
     background-attachment: fixed;
     background-size: 100vw;
     transition: 1s;
}

.containerDark {
     background-color: #51a7ee;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1900 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%2351A7EE'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23295477'/%3E%3Cstop offset='1' stop-color='%2351A7EE'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
     background-attachment: fixed;
     background-size: 100vw;
     transition: 1s;
}



.blank {
     width: 100%;
     min-height: 40vh;
     position: relative;
     z-index: 2 !important;
     filter: drop-shadow(5px 5px 15px #00000090);
}

.logoImage2 {
     /* height:100px; */
     width: 5vh;
     height: 5vh;
     border-radius: 50%;
     /* animation: rotation 50s infinite linear; */
     /* position: sticky;  */
     background-color: rgba(200, 199, 199, 0.294);
     padding: 0rem;
     position: fixed;
     float: left;
     text-align: left;
     left: 0px;
     padding: 15px;
     cursor: pointer;
     animation: bounce 2s infinite;
     z-index: 1 !important;
     transition: 1s;
     /* filter: drop-shadow(2px 2px 2px #0000006e); */
}

.logoIMGLight {
     background-image: url("data:image/svg+xml,%3Csvg style='color: rgb(86  173  240)%3B' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-moon' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z' fill='%2356adf0'%3E%3C/path%3E%3C/svg%3E");
     /* background-attachment: fixed; */
     background-size: cover;
     width: 100%;
     height: 100%;
     margin: auto;
     transition: 1s;
}

.logoIMGDark {
     background-image: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-sun' viewBox='0 0 16 16'%3E%3Cpath d='M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z' fill='white'%3E%3C/path%3E%3C/svg%3E");
     /* background-attachment: fixed; */
     background-size: cover;
     width: 100%;
     height: 100%;
     margin: auto;
     transition: 1s;
}

@keyframes bounce {

     0%,
     100% {
          top: 10px;
          left: 10px;
     }

     50% {
          top: 20px;
          left: 20px;
     }
}
h1 {
     font-weight: 600;
     font-size: 1.7rem;
     margin: 0px;
     line-height: 3rem;
}

h2{
     font-weight: 500;
     font-size: 1.3rem;
     margin: 0px;
     line-height: 3rem;
}

p {
     font-size: 1.1rem;
     font-weight: 500;
     line-height: 1.75;
     text-align: left;

}
.textProjectContainerLight{
     color: var(--lightDarkercolor);
}
.textProjectContainerDark{
     color: rgb(255, 255, 255);
}



.textProjectContainer{
     /* background-color: red; */
     width: 49%;
     height:100%;
     float:right;
     padding-left:20px;

     /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
     font-family: monospace;
     

 
}

.textProjectContainer h1{
     border-bottom: 4px solid var(--orange);
     width:100%;
     margin: auto;
     text-align: left;
}

.textProjectContainer h2{
     width:100%;
     text-align: left;
     margin: auto;
}
.langIcon{
     padding:5px;
}
.langIcons{
     color: var(--orange);
     padding-top:5px;
     text-align: left;
     width:45%;
     /* background-color: red; */
     float:left;
     -webkit-filter: drop-shadow(1px 1px 1px #00000083);
     filter: drop-shadow(1px 1px 1px #2222227b);
}
.rowH{
     margin-top: 10px;
     color: var(--orange);
     font-size: 0.9em;
     margin-right: 10px;
}
.buttonRow{
     float:right;
     /* background-color: yellow; */

     width: 55%;
    
}

.thirdDark {
     background-color: #1B344C!important;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='504' height='504' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%234BAAD8' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23060C12'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E")!important;
     background-attachment: fixed;
     background-size: unset!important;
     transition: 1s;

          /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1900 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%2351A7EE'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23295477'/%3E%3Cstop offset='1' stop-color='%2351A7EE'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(110)'/%3E%3Cuse href='%23g' transform='rotate(220)'/%3E%3Cuse href='%23g' transform='rotate(340)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */

}

.thirdLight{
     background-color: #A6D7FF!important;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='504' height='504' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23359CFF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFFFFF'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E")!important;
     background-attachment: fixed;
     background-size: unset!important;
     transition: 1s;
}






.textContactContainerLight{
     color: var(--lightDarkercolor);
}
.textContactContainerDark{
     color: rgb(255, 255, 255);
}

.textContactContainer > h1{
     width:50%!important;
}

.textContactContainer{
     /* background-color: red; */
     width: 100%;
     height:100%;
     text-align: center;
     /* padding-left:20px; */

     /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
     font-family: monospace;
     
     max-width: 850px;
     margin: auto;
 
}



.textContactContainer h1{
     border-bottom: 4px solid var(--orange);
  
     margin: auto;
     text-align: center;
     margin-bottom: 30px;
}

.textContactContainer h2{
     width:100%;
     text-align: center;
     margin: auto;
}

.contactRow{
    
     width: 100%;
     height:100%;
     display: inline-block;
}

.contactHalf{
     width:50%;
     /* background-color: red; */
     float:left;
  
}

.formContact{
     border: 3px solid var(--color);
     border-radius: 0.5em;
     margin-bottom: 15px;
     padding: 10px;
     width:90%;
     color: white!important;
     font-weight: bold;
     font-family: monospace;
     font-size: 1.3em;
     background-color: transparent;
}
input::placeholder,textarea::placeholder {
     font-weight: bold;
     font-family: monospace;
     color:white!important;
     opacity: 50%;
     /* font-size: 1.2em; */
    
 }

 textarea{
     resize:vertical;
     font-weight:100;
 }
 
 .contactMessage{
     min-height: 150px!important;

 }


 .codeMirrorInput {
     text-align: left;
     font-size: 1.9em;
     height: 100% !important;
     margin: 0px;
     margin-bottom: 15px;
     /* width: 100%; */
     background-color: transparent;
     /* font-family: "ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace"; */
     font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas,
          Liberation Mono, Menlo;

     /* background-color: white; */
     /* overflow-y: scroll; */
}

.textContactContainer h3{
     font-size: 1.5em;
     display: inline;
     padding-left:15px;
     text-align: left;
     vertical-align: middle;
     font-weight: 200;
   
}
 .contactIcon{
     text-align: left;
     vertical-align: middle;

     padding:5px;
     padding-left:35px;
}
.infoRow{
     /* background-color: red; */
     vertical-align: middle;
     width: 100%!important;
     text-align: left;
     margin-bottom:25px;
}

.middleFlex{
     display: flex;
     vertical-align: middle;
     flex-direction: column;
     align-items: left;
     justify-content: center;
     min-height: 400px;
     /* min-width: 400px; */

}

.submitButton{
     /* background-color: red;
     position: absolute;
     bottom: 0px;*/
     width: 100%;
     text-align: center; 
     transform: translateY(120%);

}

.orangeLight a{
     background-color: var(--orange)!important;
     color: var(--lightDarkercolor);
     opacity: 80%;
}

.orangeDark a{
     background-color: var(--orange)!important;
     color: var(--lightDarkercolor);
     opacity: 80%;
}

/* .thirdDark {
     -webkit-backdrop-filter: none!important;
     backdrop-filter: none!important;
} */


/* Track */
::-webkit-scrollbar-track {
     background: var(--orange)!important;
   }
   
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: var(--orange)!important;
   }


.contactThird{
     width:35%;
     /* background-color: yellow; */
     float:left;
     min-height: 350px;
     align-items: center;
     justify-content: center;
     display: flex;
     flex-direction: column;
  
}
.contactThirds{
     width:65%;
     /* background-color: red; */
     float:left;

  
}
.wider{
     min-width: 900px;
}

.infoText{
     text-align: left!important;
     width: 100%;
 


     font-size: 1.45em;
   
     padding: 0px;
     padding-bottom: 15px;
     margin: 0px;
     text-align: left;
     vertical-align: middle;
     font-weight: 200;
   
}



.verticalThird{
     background-color: green;
     /* position: absolute;; */
     width:100%;
     height: 100%;
   

}

.aboutButton{
     margin: 15px;
     width: 20%;
}